.resume {
  --resume-border: rgba(212, 207, 209, 0.5);
  --resume-v-gap: 1.25rem;
  --resume-h-gap: 2rem;

  display: grid;
  grid-template-areas:
    'header'
    'skills'
    'col1'
    'col2';
  grid-gap: var(--resume-v-gap) var(--resume-h-gap);
  max-width: var(--content-max-width);
  margin: 0 auto;
  padding: 0 2.5rem;
}

@media (min-width: 62.5rem) {
  .resume {
    grid-template-areas:
      'header header'
      'skills skills'
      'col1 col2';
  }
}

.header {
  grid-area: header;
}

.skills {
  grid-area: skills;
}

.col1 {
  grid-area: col1;
}

@media (min-width: 62.5rem) {
  .col1 {
    border-right: 1px solid var(--resume-border);
    padding-right: 1rem;
  }
}

.col2 {
  grid-area: col2;
}

.title {
  text-transform: uppercase;
  font-weight: var(--font-body-weight-bold);
  margin-bottom: 0.5rem;
}
