.skills {
  list-style-type: none;
  margin: 0 0 1rem;
  padding: 0;
}

.skills > li {
  display: inline-block;
}

.skills > li:not(:last-child) {
  padding-right: 1rem;
}

.bullet {
  position: relative;
}

.bullet::before {
  content: '\00B7';
  position: absolute;
  width: 1rem;
  top: 0;
  right: 0;
  bottom: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 180%;
}
