.resume {
  --resume-border: rgba(212, 207, 209, 0.5);
  --resume-v-gap: 1.25rem;
  --resume-h-gap: 2rem;

  display: grid;
  grid-template-areas:
    'header'
    'skills'
    'experience'
    'talks'
    'freelance'
    'education';
  grid-gap: var(--resume-v-gap) var(--resume-h-gap);
  max-width: var(--content-max-width);
  margin: 0 auto;
  padding: 0 2.5rem;
}

@media (min-width: 62.5rem) {
  .resume {
    grid-template-areas:
      'header header'
      'skills skills'
      'experience freelance'
      'talks education';
  }
}

.header {
  grid-area: header;
}

.skills {
  grid-area: skills;
}

.experience {
  grid-area: experience;
}

@media (min-width: 62.5rem) {
  .experience {
    border-right: 1px solid var(--resume-border);
    padding-right: 1rem;
  }
}

.talks {
  grid-area: talks;
}

.freelance {
  grid-area: freelance;
}

.education {
  grid-area: education;
}

.title {
  text-transform: uppercase;
  font-weight: var(--font-body-weight-bold);
  margin-bottom: 0.5rem;
}
