.header {
  background: linear-gradient(90deg, rgba(78, 0, 94, 1) 14%, rgba(19, 52, 185, 1) 100%);
  color: #fff;
  padding: var(--resume-v-gap) var(--resume-h-gap);
  margin-left: calc(var(--resume-h-gap) * -1);
  margin-right: calc(var(--resume-h-gap) * -1);
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}

.name {
  margin-bottom: 0;
}

.title {
  margin-bottom: 0.25rem;
  color: var(--color-brand-invert);
}
