.portfolio__item--stack {
  position: relative;
  overflow: visible;
  display: block;
}

.portfolio__img {

  &--top, &--middle {
    position: absolute;
    box-shadow: 2px 0 3px rgba(0,0,0,.2);
  }

  &--top {
    z-index: 3;
    transform: rotate(.5deg);
  }

  &--middle {
    &, &:hover {
      filter: brightness(.9);
    }
    z-index: 2;
    transform: rotate(-1deg);
  }

  &--bottom {
    &, &:hover {
      filter: brightness(.85);
    }
    box-shadow: 2px 0 20px rgba(0,0,0,.25);
    position: relative;
    z-index: 1;
    transform: rotate(-9.5deg);  //this number could be randomized in JS from -2.5 to -9.5
  }
}