$screen-sm-min: 768px;
$screen-md-min: 992px;

.portfolio__title__text--full {
  display: block;
  margin: 0;
}

.portfolio__img {
  width: 100%; //don't need the max-width:100%
}

.portfolio__item {
  &:focus {
    transform: scale(1.035); //this mirrors the hover state
  }
}

.portfolio__img--svg {
  width: 40rem;

  @media (min-width: $screen-sm-min) {

    width: 35rem;
  }

  @media (min-width: $screen-md-min) {

    width: 30rem;
  }
}