# this negated pattern is currently needed to lint dot files
# see: https://github.com/eslint/eslint/issues/4828
!**/*.eslintrc.js
flow-typed
data
coverage
.nyc_output
build
coverage
public/dist
# *.test.js
# gulpfile.js