.button {
  border: 1px solid var(--color-base);
  font-weight: var(--font-body-weight-bold);
  background-color: var(--color-bg);
  text-transform: uppercase;
  padding: 0.5rem 1.5rem;
  transition: background-color 0.2s;
}

.button:hover,
.button:focus {
  background-color: rgb(245, 245, 245);
}
