.animatedLink {
    cursor: pointer;
    position: relative;
    color: var(--color-link);
    text-decoration: none;
    transition: color ease 0.3s;

    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 1px;
        left: 0;
        bottom: -3px;
        background-color: var(--color-link);
        transition: all ease 0.3s;
    }

    &:hover {
        &::after {
            // TODO: make background-color: var(--color-link); darker
            height: 25%;
        }
    }
}