.small {
    font-size: var(--type-small);
    line-height: var(--type-small-lh);
}

.base {
    font-size: var(--type-base);
    line-height: var(--type-base-lh);
}

.type5 {
    font-size: var(--type-t5);
    line-height: var(--type-t5-lh);
}

.type4 {
    font-size: var(--type-t4);
    line-height: var(--type-t4-lh);
}

.type3 {
    font-size: var(--type-t3);
    line-height: var(--type-t3-lh);
}

.type2 {
    font-size: var(--type-t2);
    line-height: var(--type-t2-lh);
}

.type1 {
    font-size: var(--type-t1);
    line-height: var(--type-t1-lh);
}

.jumbo {
    font-size: var(--type-jumbo);
    line-height: var(--type-jumbo-lh);
}