$link-color: #AC0E78;


.portfolio__title__text--full {
  display: block;
  margin: 0;
}



$live-desktop-width: 1366;
$live-desktop-height: 768;
$live-desktop-scale: .60;
$live-desktop-border-top-width: 20;
$live-desktop-border-bottom-width: 20;
$live-desktop-border-left-width: 20;
$live-desktop-border-right-width: 20;


$live-tablet-width: 1024;
$live-tablet-height: 768;
$live-tablet-scale: .5;

$live-tablet-border-top-width: 10;
$live-tablet-border-bottom-width: 10;
$live-tablet-border-left-width: 65;
$live-tablet-border-right-width: 45;


$live-phone-width: 320;
$live-phone-height: 568;
$live-phone-scale: .5;

$live-phone-border-top-width: 40;
$live-phone-border-bottom-width: 45;
$live-phone-border-left-width: 10;
$live-phone-border-right-width: 10;

$live-device-bezel-color: #222;

$live-mobile-home-button-radius: 30;

$live-device-border-radius: 10;

.portfolio__live-site__content {
  display: none;
}

.portfolio__live__devices {
  display: flex;
  justify-content: center;
  margin: auto;
  order: -1;

}

.portfolio__live__device {
  border-top: 4px solid transparent;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}

$phone-width: 3;
$tablet-width: $phone-width * 2.222222222;
$desktop-width: $phone-width * 4.444444444;

.portfolio__live__device__icon {
  height: $phone-width * 2.1111111111 * 1rem;
  width: $phone-width * 1rem;
  fill: $live-device-bezel-color;

  &--tablet {
    height: $tablet-width * 1.3 * 1rem;
    width: $tablet-width * 1rem;
    transition: transform .5s, height .5s, width .5s;

    &.portfolio__live__device__icon--selected {
      transform: rotate(90deg);
      //width: $tablet-width * 1.3 * 1rem;
      //height: $tablet-width * 1rem;
    }
  }

  &--desktop {
    height: $desktop-width * .8 * 1rem;
    width: $desktop-width * 1rem;
  }

  &--selected {
    fill: $link-color;
  }
}

.portfolio__title__detail-text {
  font-weight: 600;
  text-transform: uppercase;
}

@media(min-width: 890px) {

  .portfolio__live-site {
    border-radius: $live-device-border-radius * 1px;
    transition: height .5s, width .5s, padding .5s;
    border: none;
    width: ($live-desktop-width * $live-desktop-scale) + ($live-desktop-border-left-width + $live-desktop-border-right-width) * 1px;
    height: ($live-desktop-height * $live-desktop-scale) + ($live-desktop-border-top-width + $live-desktop-border-bottom-width) * 1px;
    padding: ($live-desktop-border-top-width * 1px) ($live-desktop-border-right-width * 1px) ($live-desktop-border-bottom-width * 1px) ($live-desktop-border-left-width * 1px);
    background-color: $live-device-bezel-color;
    box-shadow: 2px 2px 1px rgba(255,255,255,.9) inset, 1px 2px 2px rgba(0,0,0,.4);

    &:before {
      content: '';
      height: $live-mobile-home-button-radius * 1px;
      width: $live-mobile-home-button-radius * 1px;
      border: 2px solid lighten($live-device-bezel-color,50);
      border-radius: $live-mobile-home-button-radius * 1px;
      background: radial-gradient(ellipse at center, lighten($live-device-bezel-color,10) 0%,$live-device-bezel-color 50%,lighten($live-device-bezel-color,10) 100%);
      position: absolute;
      display: none;
    }

    &--tablet,
    &--phone {
      &:before {
        display: block;
      }
    }

    &--tablet {
      width: ($live-tablet-width * $live-tablet-scale) + ($live-tablet-border-left-width + $live-tablet-border-right-width) * 1px;
      height: ($live-tablet-height * $live-tablet-scale) + ($live-tablet-border-top-width + $live-tablet-border-bottom-width) * 1px;
      padding: ($live-tablet-border-top-width * 1px) ($live-tablet-border-right-width * 1px) ($live-tablet-border-bottom-width * 1px) ($live-tablet-border-left-width * 1px);

      &:before {
        left: (($live-tablet-border-left-width/2)-($live-mobile-home-button-radius/2))*1px;
        top: 50%;
        margin-top: (($live-mobile-home-button-radius/2) * -1) * 1px;
      }
    }

    &--phone {
      width: ($live-phone-width * $live-phone-scale) + ($live-phone-border-left-width + $live-phone-border-right-width) * 1px;
      height: ($live-phone-height * $live-phone-scale) + ($live-phone-border-top-width + $live-phone-border-bottom-width) * 1px;
      padding: ($live-phone-border-top-width * 1px) ($live-phone-border-right-width * 1px) ($live-phone-border-bottom-width * 1px) ($live-phone-border-left-width * 1px);

      &:before {
        bottom: (($live-phone-border-bottom-width/2)-($live-mobile-home-button-radius/2))*1px;
        left: 50%;
        margin-left: (($live-mobile-home-button-radius/2) * -1) * 1px;
      }
    }
  }

  .portfolio__live-site__content {

    display: block;
    border: 1px solid darken(#d4cfd1, 2);
    overflow: hidden;
    width: $live-desktop-width * 1px;
    height: $live-desktop-height * 1px;
    transform: scale($live-desktop-scale) translateX(0) translateY(0);
    transform-origin: top left;
    transition: transform .5s;
    transition-delay: .5s;

    &--tablet {
      width: $live-tablet-width * 1px;
      height: $live-tablet-height * 1px;
      transform: scale($live-tablet-scale) translateX(0) translateY(0);
      /*transform-origin: top left;*/
    }

    &--phone {
      width: $live-phone-width * 1px;
      height: $live-phone-height * 1px;
      transform: scale($live-phone-scale) translateX(0) translateY(0);
      /*transform-origin: top left;*/
    }
  }
}