<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Syn By Design</title>
  <link rel="icon" type="image/png" href="favicon.png" />
  <meta name="description" content="Eric Masiello's portfolio of web and design projects">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="Syn By Design"/>
  <meta property="og:type" content="article"/> <!-- FIXME -->
  <meta property="og:url" content="https://synbydesign.com/"/>
  <meta property="og:description" content="Eric Masiello's portfolio of web and design projects"/>
  <meta property="og:site_name" content="Syn By Design"/>
  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@ericmasiello">
  <meta name="twitter:title" content="Syn By Design">
  <meta name="twitter:description" content="Eric Masiello's portfolio of web and design projects">
  <meta name="twitter:creator" content="@ericmasiello">
  <!-- Twitter Summary card images must be at least 120x120px -->
  <meta name="twitter:image" content="./dist/images/synbydesignsocial.png"> <!-- FIXME -->

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{%= o.htmlWebpackPlugin.options.googleAnalyticsCode %}', 'auto');
    ga('send', 'pageview');
  </script>
</head>
<body>
<!--[if lt IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->
<main id="app">
  Hello World
</main>
<noscript>
  Sorry, this site requires JavaScript and modern web browser such as <a href="https://www.mozilla.org/en-US/firefox/new/" title="Download Firefox web browser">Firefox</a> or
  <a href="http://www.google.com/chrome" title="Download the Chrome web browser">Chrome</a>.
</noscript>
</body>
</html>
