.experience:not(:last-of-type) {
  margin-bottom: 2rem;
}

.title {
  margin-bottom: 0;
}

.title-content {
  font-weight: var(--font-header-weight-bold);
}

.meta {
  margin-bottom: 0;
}

.role {
  color: var(--color-brand);
  margin-bottom: 0.5rem;
}

.website {
  display: block;
  margin-bottom: 0.5rem;
}
