---
import BaseHead from '../components/BaseHead.astro';
import Resume from '../components/homepage/Resume/Resume.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import VisuallyHidden from '../components/VisuallyHidden.astro';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={`Resume for Eric Masiello, ${SITE_TITLE}`} description="Resume for Eric Masiello" />
    <!-- ensure this page is not indexed since the production version will have my phone in plain text -->
    <meta name="robots" content="noindex" />
  </head>
  <body>
    <main>
      <VisuallyHidden as="h1" id="resume-title">Resume</VisuallyHidden>
      <Resume id="resume" format="print" class="resume" />
    </main>
    <style>
      :global(html) {
        --h-space: 2rem !important;
        font-size: 90% !important;
      }

      /* Styling uses on web-only version of page */
      :global(body:not(:is(.PDF_GENERATION))) .resume {
        padding-block-end: 3rem;
      }
    </style>
  </body>
</html>
