.about-me {
  max-width: var(--content-max-width);
  margin: 0 auto;
  padding: 1rem 2.5rem 6rem;
  min-height: 100vh;
  font-family: var(--font-base);
  font-size: 1.2rem;
  line-height: 1.6;
}

.about-me h2 {
  font-weight: var(--font-body-weight-medium);
  font-size: 2rem;
  line-height: 1.3;
}
