---
import Container from './Container.astro';
import AnimatedLink from './AnimatedLink.astro';
import { MY_NAME } from '../config';
const today = new Date();

export interface Props extends Omit<astroHTML.JSX.BaseHTMLAttributes, 'slot'> {
  format?: 'web' | 'print';
}

const { format = 'web' } = Astro.props;
---

<Container as="footer" class="footer">
  {
    format === 'print' ? (
      <a href="mailto:eric.j.masiello@gmail.com">Email: eric.j.masiello@gmail.com</a>
    ) : (
      <>
        <AnimatedLink href="mailto:eric.j.masiello@gmail.com">
          Contact Me{' '}
          <span role="img" aria-label="envolope with heart">
            {' '}
            💌
          </span>
        </AnimatedLink>
        <span class="copyright">
          &copy; {today.getFullYear()} {MY_NAME}. All rights reserved.
        </span>
      </>
    )
  }
</Container>
<style>
  .footer {
    padding-block-start: 2rem;
    padding-block-end: 2rem;
  }

  @media (min-width: 31.25rem) {
    .footer {
      display: flex;
      justify-content: space-between;
    }
  }

  .copyright {
    display: block;
    margin-block-start: 1rem;
  }

  @media (min-width: 31.25rem) {
    .copyright {
      margin-block-start: 0;
    }
  }
</style>
