.header {
  background-color: rgba(255, 255, 255, 0.9);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  min-height: 2.5rem;
  max-height: 3.5rem;
  height: 5vw;
  margin-bottom: 1rem;
}

.role {
  font-weight: var(--font-body-weight-bold);
}

.x {
  position: absolute;
  width: 50vmax;
  max-width: 700px;
  stroke-width: 4px;
  stroke: var(--color-brand-invert);
  opacity: 0.6;
  left: 0;
  bottom: 0;
  transform:
    translateX(-45%)
    translateY(40%)
    rotate(0);
  animation: rotateX 200s infinite backwards;
  animation-timing-function: linear;
  animation-delay: 0;
}

@keyframes rotateX {
  0% {
    opacity: 0.6;
    transform:
      translateX(-45%)
      translateY(40%)
      rotate(0deg)
      scale(1);
  }

  50% {
    opacity: 0.3;
    transform:
      translateX(-45%)
      translateY(40%)
      rotate(180deg)
      scale(1.5);
  }

  100% {
    opacity: 0.6;
    transform:
      translateX(-45%)
      translateY(40%)
      rotate(360deg)
      scale(1);
  }
}
