.header {
  background-color: rgba(255, 255, 255, 0.9);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
  max-width: var(--content-max-width);
  margin: 0 auto;
}

.header--slim {
  min-height: 0;
  align-items: flex-start;
}

.nav {
  position: relative;
  z-index: 2;
}

.logo {
  min-height: 2.5rem;
  max-height: 3.5rem;
  height: 5vw;
  margin-bottom: 1rem;
}

.role {
  font-weight: var(--font-body-weight-bold);
}

.x-wrapper {
  transform: translateX(45%) translateY(40%);
  position: fixed;
  z-index: 1;
  right: 0;
  bottom: 0;
}

.x {
  width: 50vmax;
  max-width: 700px;
  stroke-width: 4px;
  stroke: var(--color-brand-invert);
  filter: invert(calc(var(--scroll-amount, 0) * 1%)) opacity(calc((100 - var(--scroll-amount, 0)) / 100));
  opacity: 0.3;
  transform: rotate(20deg) scale(1.2);
}

@media screen and (prefers-reduced-motion: no-preference) {
  .x {
    animation: rotateX 600s infinite backwards;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-play-state: var(--spin-play-state, paused);
  }
}

@keyframes rotateX {
  0% {
    opacity: 0.3;
    transform: rotate(20deg) scale(1.2);
  }

  50% {
    opacity: 0.15;
    transform: rotate(200deg) scale(1.5);
  }

  100% {
    opacity: 0.3;
    transform: rotate(380deg) scale(1.2);
  }
}
