:root {
  --font-base: 'Source Sans Pro', sans-serif;
  --font-header: 'Lato', sans-serif;
  --font-body-weight-light: 300;
  --font-body-weight-medium: 400;
  --font-body-weight-bold: 600;
  --font-header-weight-medium: 400;
  --font-header-weight-bold: 700;
  --color-bg: #fff;
  --color-base: #424141;
  --color-muted: #787575;
  --color-brand: #c90044;
  --color-brand-invert: #36FFBB;
  --color-highlight: #5f2058;
  --color-link: rgba(201, 0, 68, 0.6);
  --color-logo: #3b3b3b;
  --color-gallery-border: rgba(212, 207, 209, 0.5);
  --color-gallery-border-highlight: #d4cfd1;
  --color-gallery-bg: #e0dcde;
  --content-max-width: 100rem; /* 1600px */
}

html {
  box-sizing: border-box;
  background-color: var(--color-bg);
  font-family: var(--font-base);
  color: var(--color--base);
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.35;
  font-weight: var(--font-body-weight-light);
}

@media only screen and (min-width: 992px) {
  body {
    font-size: 0.9375rem;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    font-size: 1rem;
  }
}

input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}

input[type=button],
input[type=submit],
input[type=reset],
button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
  font-weight: var(--font-header-weight-medium);
  line-height: 1.1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: var(--color-link);
  -webkit-tap-highlight-color: transparent;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

img {
  vertical-align: middle;
  border: 0;
}

blockquote {
  margin: 0;
}
