body {

  background: image-url('masthead-gradient.png') center 0 no-repeat, image-url('background.png') 0 0 repeat transparent;
  max-width: $body-max-width;
  margin: auto;
  padding: 2rem 1rem;
}

.visually-hidden { /*https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html*/
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

header,
section,
div,
a,
input,
button,
textarea {

  &:focus {
    outline-color: lighten($portfolio-title-bg, 25);
    outline-offset: 5px;
  }
}