.logo {

  display: block;
  fill: $highlight-dark-color;
  margin: 0 auto;
  transition: all .5s;

  @media (min-width: $screen-md-min) {

    margin: 0 auto 1rem;
  }
}

.logo__head {

  height: 8.602rem;
  width: 7.1497rem;
  opacity: 1;
  transform: scale(1);

  &.logo--detail {

    height: 0;
    opacity: 0;
    transform: scale(0);
  }
}

.logo__title {

  height: 0;
  opacity: 0;
  transform: scale(0);
  width: 38.6179rem;

  &.logo--detail {

    height: 6.638rem;
    opacity: 1;
    transform: scale(1);
  }

  @media (min-width: $screen-md-min) {

    height: 6.638rem;
    opacity: 1;
    transform: scale(1);
  }
}

.logo__slogan {

  height: 2.4653rem;
  width: 18.5904rem;
  opacity: 1;
  transform: scale(1);

  &.logo--detail {

    height: 0;
    opacity: 0;
    transform: scale(0);
  }
}
