/*ul*/.portfolio {

  list-style-type: none;
  padding: 0;

  @media (min-width: $screen-md-min) {

    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }


  > li {

    padding: 1rem 1.5rem;

    &:nth-child(2n) .portfolio__thumb {

      animation-delay: 4s;
    }

    &:nth-child(3n) .portfolio__thumb {

      animation-delay: 8s;
    }

    &:nth-child(4n) .portfolio__thumb {

      animation-delay: 12s;
    }
  }
}

.portfolio__item {

  position: relative;
}

.portfolio__title {

  bottom: -.5rem;
  left: 0;
  right: 0;
  position: absolute;
  text-align: center;
  z-index: 2;
}

.portfolio__title__text {

  //FIXME - make these variables!!!
  display: inline-block;
  background-color: rgba(223, 141, 205, 0.85);
  border-radius: 3px;
  color: #F5F2F2;
  margin: auto;
  padding: 0 .75rem;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 -1px 0 rgba(0, 0, 0, 0.2);
}

.portfolio__full {

  border: 10px solid #d4cfd1;
  border-radius: 3px;
  width: 100%;
  height: auto;
}

.portfolio__thumb {

  @extend .portfolio__full;
  animation-duration: 4s;
  animation-name: pulseGrayscale;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  filter: grayscale(1);
  max-width: 44rem;
  max-height: 29.3rem;
  transition: filter .2s;

  &:hover {

    animation: none;
    filter: grayscale(0);
  }
}


@keyframes pulseGrayscale {
  from {
    filter: grayscale(1);
  }

  to {
    filter: grayscale(.7);
  }
}
