/*ul, ol*/.skills {

  @extend .text-center;
  list-style-type: none;
  padding: 0;

  > li {

    display: inline-block;

    &::before {

      //space + bullet + space
      content: '\00a0\2219\00a0';
    }
  }
}
