---
import classNames from 'classnames';
import H from '../../H.astro';
import PlainList from '../../PlainList.astro';
import ProfessionalExperienceRole from './ProfessionalExperienceRole.astro';
import type { ProfessionalExperience } from './Resume';
import Spacer from './Spacer.astro';
import type { Props as SpacerProps } from './Spacer.astro';

export interface Props extends Omit<SpacerProps, 'slot'>, ProfessionalExperience {}

const { as = 'article', class: className, organization, roles, accomplishments, ...rest } = Astro.props;
const classes = classNames('experience', className);
---

<Spacer class={classes} {...rest} as={as}>
  <hgroup>
    <H as="h4" class="org" bold>
      {organization}
    </H>
    <PlainList class="roles" spacing="small">{roles.map((role) => <ProfessionalExperienceRole {...role} />)}</PlainList>
  </hgroup>
  {
    accomplishments.length > 0 && (
      <div>
        <PlainList>
          {accomplishments.map((accomplishment) => (
            <li>{accomplishment}</li>
          ))}
        </PlainList>
      </div>
    )
  }
</Spacer>
<style>
  .org {
    margin-block-end: 0.5rem;
  }

  .roles {
    margin-block-end: 0.5rem;
  }
</style>
